@Scripts.Render("~/js/book")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<br />
<br />
@{ 
    ViewBag.Title = "Lista";
}

<fieldset>
    <legend>Livros no Estoque</legend>
</fieldset>

<br />
<table id="tblLivros" class="table table-responsive table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Preço</th>
            <th>Qtd. Estoque</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Books)
    {
        <tr id="@item.IdBook">
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.BookPublisher
            </td>
            <td style="width:50px;">
                @item.Price
            </td>
            <td style="width:50px;">
                @item.StockQty
            </td>
            <td style="width:50px;">
                <button id="btnEdit @item.IdBook" type="button" class="btn btn-dark edit" onclick="editBook(this)"><span class="glyphicon glyphicon-pencil"></span></button>

            </td>

            <td style="width:50px;">
                <button id="btnRemove @item.IdBook" type="button" class="btn btn-danger remove" onclick="showModal(this)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>

        </tr>
}
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="removeModal">
    @Html.Hidden("IdBook")
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir esse livro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteBook()">Confirmar</button>
                <button type="button" class="btn btn-secondary"  data-dismiss="modal" onclick="closeModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "post",
            url: '/Book/Index',
            data: {},
            success: function () {

            }
        });

    });

</script>